@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles below */
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@layer components {
  .gradient-text {
    @apply bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 text-transparent bg-clip-text;
  }
  
  .gradient-bg {
    @apply bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500;
  }
}
